Repository humank/genai-demo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @genai-demo-team, @backend-team, @devops-team, @frontend-team, @security-team, @release-team, @performance-team

.github/CODEOWNERS:

# Code Owners for GenAI Demo Project
# This file defines who should review changes to specific parts of the codebase

# Global owners - require review for all changes
* @genai-demo-team

# Backend code
/app/ @backend-team @genai-demo-team
/build.gradle @backend-team @genai-demo-team
/settings.gradle @backend-team @genai-demo-team
/gradle.properties @backend-team @genai-demo-team
/Dockerfile @backend-team @devops-team

# Frontend code
/cmc-frontend/ @frontend-team @genai-demo-team
/consumer-frontend/ @frontend-team @genai-demo-team
/cmc-frontend/Dockerfile @frontend-team @devops-team
/consumer-frontend/Dockerfile @frontend-team @devops-team

# Infrastructure code
/infrastructure/ @devops-team @genai-demo-team
/deployment/ @devops-team @genai-demo-team
/docker/ @devops-team @genai-demo-team
/terraform/ @devops-team @genai-demo-team

# CI/CD and automation
/.github/ @devops-team @genai-demo-team
/scripts/ @devops-team @genai-demo-team

# Documentation
/docs/ @genai-demo-team
/README.md @genai-demo-team
*.md @genai-demo-team

# Configuration files
/docker-compose.yml @devops-team @genai-demo-team
/.gitignore @genai-demo-team
/.gitattributes @genai-demo-team

# Security-sensitive files
/.github/workflows/security-scan.yml @security-team @devops-team
/.github/dependabot.yml @security-team @devops-team
/infrastructure/lib/stacks/security-stack.ts @security-team @devops-team

# Release management
/.github/workflows/release.yml @release-team @devops-team
/.github/workflows/ci-cd.yml @devops-team @genai-demo-team

# Performance and monitoring
/.github/workflows/performance-test.yml @performance-team @devops-team
/infrastructure/lib/stacks/observability-stack.ts @performance-team @devops-team

docs: update README and documentation for v3.1.0 with observability and MCP integration
  .kiro/steering/project-overview.md
  CHANGELOG.md
  README.md
  docs/en/PROJECT_README.md
  docs/en/mcp/README.md
  docs/en/observability/README.md
  docs/mcp/README.md
  docs/observability/README.md
Owners: @genai-demo-team

refactor: restructure README.md to eliminate redundancy and improve readability
  README.md
Owners: @genai-demo-team

fix: apply Kiro IDE autofix formatting to documentation files
  docs/en/PROJECT_README.md
Owners: @genai-demo-team

docs: move CI/CD documentation to docs directory and translate to Chinese
  .github/README.md
  docs/cicd/README.md
  docs/en/cicd/README.md
Owners: @genai-demo-team

docs: add GitHub Actions best practices analysis
  docs/en/cicd/README.md
  docs/github-actions-best-practices.md
Owners: @genai-demo-team

fix: correct version dates from January to September 2025
  README.md
Owners: @genai-demo-team

refactor: clean up project structure and organize scattered files
  .gitignore
  __pycache__/translate_with_q.cpython-313.pyc
  debug_translate.py
  docs/en/PROJECT_README.md
  docs/project-structure-cleanup.md
  docs/reports/CI_CD_IMPLEMENTATION_SUMMARY.md
  docs/reports/FINAL_TEST_ANALYSIS.md
  docs/reports/TESTING_OPTIMIZATION_SUMMARY.md
  docs/setup/kiro-setup-configuration.md
  docs/setup/mcp-config-template.json
  mcp-configs-backup/.amazonq_mcp-config.json
  mcp-configs-backup/settings_mcp.json
  profile-configuration-example.md
  scripts/add_newline_to_md.sh
  scripts/test-database-config.sh
  scripts/translate_md_to_english.py
  scripts/translate_md_to_english.sh
  translate_with_q.py
  translate_with_q_fixed.py
Owners: @genai-demo-team, @devops-team

docs: optimize README.md structure and reduce redundant content
  README.md
Owners: @genai-demo-team

docs: update English version to match README.md optimization
  docs/en/PROJECT_README.md
Owners: @genai-demo-team

🔄 Steering 檔案整合優化 (2025-09-13)
  .kiro/steering/README.md
  .kiro/steering/architecture-patterns.md
  .kiro/steering/development-standards.md
  .kiro/steering/project-overview.md
  .kiro/steering/rozanski-woods-architecture-methodology.md
  docs/architecture/rozanski-woods-architecture-assessment.md
  docs/en/PROJECT_README.md
  docs/en/architecture/rozanski-woods-architecture-assessment.md
Owners: @genai-demo-team

🎯 Steering 文件重構：移除描述性內容，專注實際指導規則
  .kiro/steering/README.md
  .kiro/steering/development-standards.md
  .kiro/steering/rozanski-woods-architecture-methodology.md
Owners: @genai-demo-team

📝 Update English project documentation
  docs/en/PROJECT_README.md
Owners: @genai-demo-team

🌐 Convert all steering files to English
  .kiro/steering/README.md
  .kiro/steering/development-standards.md
  .kiro/steering/rozanski-woods-architecture-methodology.md
  .kiro/steering/translation-guide.md
Owners: @genai-demo-team

🔧 Spring Boot Profile 標準化重構完成
  .kiro/specs/aws-cdk-observability-integration/design.md
  app/build.gradle
  app/docs/PROFILE_CONFIGURATION.md
  app/docs/STRUCTURED_LOGGING_IMPLEMENTATION.md
  app/src/main/java/solid/humank/genaidemo/config/ProfileConfigurationErrorHandler.java
  app/src/main/java/solid/humank/genaidemo/infrastructure/observability/metrics/CloudWatchMetricsConfiguration.java
  app/src/main/resources/application-dev.yml
  app/src/main/resources/application-k8s.yml
  app/src/main/resources/application-prod.yml
  app/src/main/resources/application.yml
  deployment/k8s/deployment.yaml
  docs/en/.kiro/steering/README.md
  infrastructure/docs/MSK_INTEGRATION_GUIDE.md
  infrastructure/k8s/README.md
  infrastructure/k8s/application/genai-demo-deployment.yaml
  infrastructure/k8s/base/deployment.yaml
  infrastructure/k8s/overlays/production/deployment-patch.yaml
  infrastructure/k8s/rollouts/backend-blue-green.yaml
  infrastructure/lib/stacks/core-infrastructure-stack.ts
Owners: @genai-demo-team, @backend-team, @devops-team

Fix integration test failures by resolving Spring Security MVC dependency issues
  app/build.gradle
  app/src/main/java/solid/humank/genaidemo/infrastructure/observability/metrics/MetricsConfiguration.java
  app/src/main/java/solid/humank/genaidemo/infrastructure/security/WebSecurityConfiguration.java
Owners: @backend-team, @genai-demo-team

Add test optimization demonstration script to README
  CURRENT_ISSUES_ANALYSIS.md
  FINAL_FIX_SUMMARY.md
  README.md
  run-optimized-tests.sh
Owners: @genai-demo-team

Fix test optimization script - replace non-existent jacoco task
  run-optimized-tests.sh
Owners: @genai-demo-team

fix: resolve Angular frontend compilation errors and type issues
  consumer-frontend/FRONTEND_STATUS.md
  consumer-frontend/package-lock.json
  consumer-frontend/src/app/app.component.ts
  consumer-frontend/src/app/core/config/observability.config.ts
  consumer-frontend/src/app/core/services/analytics-websocket-integration.service.ts
  consumer-frontend/src/app/core/services/enhanced-web-vitals.service.ts
  consumer-frontend/src/app/core/services/frontend-backend-observability-integration.spec.ts
  consumer-frontend/src/app/core/services/observability-performance-load.spec.ts
  consumer-frontend/src/app/core/services/offline-manager.service.spec.ts
  consumer-frontend/src/app/core/services/offline-manager.service.ts
  consumer-frontend/src/app/core/services/performance-monitoring.integration.spec.ts
  consumer-frontend/src/app/core/services/real-time-analytics.service.ts
  consumer-frontend/src/app/core/services/session.service.spec.ts
  consumer-frontend/src/app/core/services/user-behavior-analytics.service.ts
  consumer-frontend/src/app/features/admin/dashboard/dashboard.component.ts
  consumer-frontend/src/app/features/admin/system-health/system-health.component.ts
  consumer-frontend/src/app/features/home/home-error-tracking.integration.spec.ts
  consumer-frontend/src/app/features/home/home-observability.integration.spec.ts
  consumer-frontend/src/app/features/home/home-performance.integration.spec.ts
  consumer-frontend/src/app/layout/header/header-observability.integration.spec.ts
  consumer-frontend/src/app/shared/components/performance-monitor.component.ts
  consumer-frontend/src/environments/environment.ts
Owners: @genai-demo-team, @frontend-team

security: fix npm audit vulnerabilities
  consumer-frontend/package-lock.json
  consumer-frontend/package.json
Owners: @frontend-team, @genai-demo-team

fix: Remove duplicate and broken diagram references in functional viewpoint README
  docs/viewpoints/functional/README.md
  reports-summaries/documentation/functional-viewpoint-links-fix-report.md
Owners: @genai-demo-team

feat: Update aggregate root documentation to reflect actual codebase implementation
  docs/en/viewpoints/functional/aggregates.md
  docs/en/viewpoints/functional/domain-model.md
  docs/viewpoints/functional/aggregates.md
  docs/viewpoints/functional/domain-model.md
  reports-summaries/documentation/aggregate-documentation-sync-complete-report.md
  reports-summaries/documentation/aggregates-documentation-update-report.md
Owners: @genai-demo-team

feat: Create Context Viewpoint to complete Rozanski & Woods methodology
  docs/viewpoints/README.md
  docs/viewpoints/context/README.md
  docs/viewpoints/context/external-integrations.md
  docs/viewpoints/context/stakeholder-analysis.md
  reports-summaries/documentation/context-viewpoint-creation-report.md
Owners: @genai-demo-team

feat: Integrate Context Viewpoint links across all documentation
  README.md
  docs/README.md
  docs/architecture/rozanski-woods-architecture-assessment.md
  docs/en/PROJECT_README.md
  docs/viewpoints/README.md
  reports-summaries/documentation/context-viewpoint-links-integration-report.md
Owners: @genai-demo-team

DOCS: Update development viewpoint documentation and quality reports
  docs/cross-reference-links.md
  docs/en/templates/diagram-metadata-standards.md
  docs/en/templates/metadata-standards.md
  docs/en/templates/perspective-template.md
  docs/en/templates/viewpoint-template.md
  docs/en/viewpoint-perspective-matrix.md
  docs/en/viewpoints/README.md
  docs/templates/diagram-metadata-standards.md
  docs/templates/metadata-standards.md
  docs/templates/perspective-template.md
  docs/templates/viewpoint-template.md
  docs/viewpoint-perspective-matrix.md
  docs/viewpoints/README.md
  docs/viewpoints/concurrency/README.md
  docs/viewpoints/deployment/README.md
  docs/viewpoints/development/README.md
  docs/viewpoints/development/getting-started/README.md
  docs/viewpoints/functional/README.md
  docs/viewpoints/information/README.md
  docs/viewpoints/operational/README.md
  reports-summaries/quality-ux/comprehensive-quality-report-development-20250922_193842.json
  reports-summaries/quality-ux/comprehensive-quality-report-development-20250922_193842.md
  reports-summaries/quality-ux/comprehensive-quality-report-development-20250922_195228.json
  reports-summaries/quality-ux/comprehensive-quality-report-development-20250922_195228.md
  reports-summaries/quality-ux/content-duplication-report-20250922_193819.md
  reports-summaries/quality-ux/content-duplication-report-20250922_195207.md
  reports-summaries/quality-ux/documentation-quality-development-20250922_193831.md
  reports-summaries/quality-ux/documentation-quality-development-20250922_193842.md
  reports-summaries/quality-ux/documentation-quality-development-20250922_195215.md
  reports-summaries/quality-ux/documentation-quality-development-20250922_195228.md
  reports-summaries/quality-ux/viewpoint-structure-validation-development-20250922_193837.md
  reports-summaries/quality-ux/viewpoint-structure-validation-development-20250922_193842.md
  reports-summaries/quality-ux/viewpoint-structure-validation-development-20250922_195222.md
  reports-summaries/quality-ux/viewpoint-structure-validation-development-20250922_195228.md
Owners: @genai-demo-team

Clean up temporary merge script
  merge_dependabot_prs.sh
Owners: @genai-demo-team

Restructure README.md with business-first approach
  README.md
Owners: @genai-demo-team

Apply Kiro IDE autofix to English PROJECT_README.md
  docs/en/PROJECT_README.md
Owners: @genai-demo-team

feat: Update Context Viewpoint with implementation status and complete English translations
  docs/en/viewpoints/context/README.md
  docs/en/viewpoints/context/external-integrations.md
  docs/en/viewpoints/context/stakeholder-analysis.md
  docs/viewpoints/context/README.md
  docs/viewpoints/context/external-integrations.md
  docs/viewpoints/development/README.md
  docs/viewpoints/development/architecture/README.md
  docs/viewpoints/development/architecture/ddd-patterns/README.md
  docs/viewpoints/development/architecture/hexagonal-architecture/README.md
  docs/viewpoints/development/architecture/microservices/README.md
  docs/viewpoints/development/architecture/saga-patterns/README.md
  docs/viewpoints/development/coding-standards/README.md
  docs/viewpoints/development/getting-started/README.md
  docs/viewpoints/development/quality-assurance/README.md
  docs/viewpoints/development/testing/README.md
  docs/viewpoints/development/testing/bdd-practices/README.md
  docs/viewpoints/development/testing/tdd-practices/README.md
  docs/viewpoints/development/tools-and-environment/README.md
  docs/viewpoints/development/tools-and-environment/technology-stack/README.md
  docs/viewpoints/functional/README.md
  reports-summaries/diagrams/final-mmd-validation-report.md
  reports-summaries/quality-ux/documentation-quality-context-20250923_092430.md
  reports-summaries/quality-ux/documentation-quality-context-20250923_092738.md
  reports-summaries/task-execution/outdated-content-development-20250923_091452.md
  reports-summaries/task-execution/outdated-content-development-20250923_091615.md
  reports-summaries/task-execution/outdated-content-development-20250923_092518.md
Owners: @genai-demo-team

Complete task 2.1: Enhance backup and recovery documentation
  .kiro/specs/documentation-redesign/tasks.md
  docs/viewpoints/operational/backup-automation.md
  docs/viewpoints/operational/backup-recovery.md
  docs/viewpoints/operational/backup-testing-procedures.md
  docs/viewpoints/operational/database-backup-procedures.md
  docs/viewpoints/operational/detailed-restore-procedures.md
Owners: @genai-demo-team

docs: Add comprehensive documentation and MCP configuration updates
  .kiro/settings/mcp.json.backup.20251107_115520
  .kiro/settings/mcp.json.backup.20251107_140240
  .kiro/specs/documentation-redesign/tasks.md
  docs/development/testing/unit-testing-guide.md
  docs/infrastructure/mcp-aws-servers-troubleshooting.md
  docs/infrastructure/mcp-cleanup-recommendations.md
  docs/infrastructure/mcp-cleanup-report.md
  docs/infrastructure/mcp-final-status.md
  docs/infrastructure/mcp-pricing-timeout-fix.md
  docs/infrastructure/mcp-server-analysis.md
  docs/infrastructure/time-capabilities-comparison.md
  docs/viewpoints/operational/index-management-procedures.md
  docs/viewpoints/operational/postgresql-performance-tuning.md
  docs/viewpoints/operational/procedures.md
  scripts/cleanup-mcp-config.sh
  scripts/disable-timeout-mcp-servers.sh
Owners: @genai-demo-team, @devops-team

docs: Enhance README with prominent Rozanski & Woods architecture methodology
  README.md
Owners: @genai-demo-team

docs: Replace ASCII diagrams with Mermaid in README
  README.md
Owners: @genai-demo-team

docs: Add diagram standards and best practices
  .kiro/steering/README.md
  .kiro/steering/diagram-standards.md
Owners: @genai-demo-team

fix: Skip staging tests for Dependabot PRs
  .github/workflows/staging-tests.yml
Owners: @devops-team, @genai-demo-team

feat: Add script to batch merge Dependabot PRs
  scripts/merge-dependabot-prs.sh
Owners: @devops-team, @genai-demo-team

feat: Add script to wait and auto-merge Dependabot PRs
  scripts/wait-and-merge-dependabot.sh
Owners: @devops-team, @genai-demo-team

feat: add PR management tools and enable Dependabot auto-merge
  .github/dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
  PR-MANAGEMENT-REPORT.md
  scripts/merge-dependabot-prs.sh
Owners: @security-team, @devops-team, @genai-demo-team

docs: add PR merge completion report
  PR-MERGE-COMPLETION-REPORT.md
Owners: @genai-demo-team

fix(ci): skip cleanup job for Dependabot PRs
  .github/workflows/staging-tests.yml
Owners: @devops-team, @genai-demo-team

docs: add Dependabot PR fix and rebase status reports
  DEPENDABOT-PR-FIX-REPORT.md
  DEPENDABOT-REBASE-STATUS.md
Owners: @genai-demo-team
