Repository humank/genai-demo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @genai-demo-team, @backend-team, @devops-team, @frontend-team, @security-team, @release-team, @performance-team

security: remove exposed GitHub token from documentation
  docs/infrastructure/mcp-cleanup-recommendations.md
  docs/infrastructure/mcp-cleanup-report.md
Owners: @genai-demo-team

docs: add security token incident report
  SECURITY-TOKEN-INCIDENT-REPORT.md
Owners: @genai-demo-team

docs: add PR batch merge report
  PR-BATCH-MERGE-REPORT.md
Owners: @genai-demo-team

docs: add final PR completion report
  PR-COMPLETION-FINAL-REPORT.md
Owners: @genai-demo-team

fix: correct date from 2024 to 2025 in all reports
  DEPENDABOT-PR-FIX-REPORT.md
  DEPENDABOT-REBASE-STATUS.md
  PR-BATCH-MERGE-REPORT.md
  PR-COMPLETION-FINAL-REPORT.md
  README.md
  SECURITY-TOKEN-INCIDENT-REPORT.md
Owners: @genai-demo-team

chore: remove temporary execution reports from root directory
  DEPENDABOT-PR-FIX-REPORT.md
  DEPENDABOT-REBASE-STATUS.md
  PR-BATCH-MERGE-REPORT.md
  PR-COMPLETION-FINAL-REPORT.md
  PR-MANAGEMENT-REPORT.md
  PR-MERGE-COMPLETION-REPORT.md
  README-FULL.md
  README-IMPROVEMENTS-SUMMARY.md
  SECURITY-TOKEN-INCIDENT-REPORT.md
Owners: @genai-demo-team

docs: enhance Rozanski & Woods methodology overview with Mermaid diagrams
  docs/rozanski-woods-methodology-guide.md
Owners: @genai-demo-team

docs: translate Rozanski & Woods methodology overview to English
  docs/rozanski-woods-methodology-guide.md
Owners: @genai-demo-team

docs: improve Mermaid diagrams with larger, more detailed visualizations
  docs/rozanski-woods-methodology-guide.md
Owners: @genai-demo-team

docs: add MCP configuration diagnostic report
  MCP-DIAGNOSTIC-REPORT.md
Owners: @genai-demo-team

security: Fix glob command injection vulnerability (GHSA-5j98-mcp5-4vw2)
  AWS-API-MCP-SETUP.md
  MCP-CLEANUP-REPORT.md
  MCP-DIAGNOSTIC-REPORT.md
  MCP-UPDATE-REPORT.md
  cmc-frontend/package-lock.json
  cmc-frontend/package.json
  infrastructure/package-lock.json
  package.json
  reports-summaries/security-vulnerabilities-fix-2025-11-18.md
Owners: @genai-demo-team, @frontend-team, @devops-team

security: Complete glob vulnerability fix for all projects
  consumer-frontend/package-lock.json
  consumer-frontend/package.json
  infrastructure/package-lock.json
  infrastructure/package.json
Owners: @frontend-team, @genai-demo-team, @devops-team

docs: Add final security fix summary
  reports-summaries/SECURITY-FIX-FINAL-SUMMARY.md
Owners: @genai-demo-team

docs: Add comprehensive digital resilience documentation and README updates
  .kiro/settings/mcp.json
  README.md
  docs/DIGITAL-RESILIENCE-DEEP-DIVE.md
  docs/README-DIGITAL-RESILIENCE-UPDATES.md
  docs/README-UPDATES-SUMMARY.md
Owners: @genai-demo-team

docs: Remove fake production metrics from README
  README.md
Owners: @genai-demo-team

docs: Add realistic cost analysis based on actual CDK configuration
  docs/REAL-COST-ANALYSIS.md
Owners: @genai-demo-team

docs: add comprehensive documentation analysis report
  README.md
  docs/DOCUMENTATION-ANALYSIS-REPORT.md
Owners: @genai-demo-team

chore: update MCP settings
  .kiro/settings/mcp.json
Owners: @genai-demo-team

docs: Phase 1 - Consolidate fragmented documentation
  docs/perspectives/availability/archive/README.md
  docs/perspectives/availability/archive/automated-failover.md
  docs/perspectives/availability/archive/chaos-engineering.md
  docs/perspectives/availability/archive/fault-tolerance.md
  docs/perspectives/availability/archive/high-availability.md
  docs/perspectives/availability/archive/multi-region-architecture.md
  docs/perspectives/availability/high-availability-design.md
  docs/viewpoints/operational/archive/README.md
  docs/viewpoints/operational/archive/backup-automation.md
  docs/viewpoints/operational/archive/backup-recovery.md
  docs/viewpoints/operational/archive/backup-testing-procedures.md
  docs/viewpoints/operational/archive/database-backup-procedures.md
  docs/viewpoints/operational/archive/detailed-restore-procedures.md
  docs/viewpoints/operational/backup-and-recovery-comprehensive.md
Owners: @genai-demo-team

docs: update analysis report with Phase 1 completion status
  docs/DOCUMENTATION-ANALYSIS-REPORT.md
Owners: @genai-demo-team

docs: add Phase 1 completion summary report
  docs/PHASE-1-COMPLETION-SUMMARY.md
Owners: @genai-demo-team

docs: Phase 2 - Enrich overview documentation (Part 1)
  docs/perspectives/availability/overview.md
  docs/perspectives/evolution/overview.md
Owners: @genai-demo-team

docs: Phase 2 - Enrich accessibility overview documentation
  docs/perspectives/accessibility/overview.md
Owners: @genai-demo-team

docs: Phase 2 completion summary and progress update
  docs/DOCUMENTATION-ANALYSIS-REPORT.md
  docs/PHASE-2-COMPLETION-SUMMARY.md
Owners: @genai-demo-team

docs: Phase 3 - Add deployment and functional viewpoint diagrams
  docs/viewpoints/deployment/deployment-process.md
  docs/viewpoints/deployment/network-architecture.md
  docs/viewpoints/deployment/overview.md
  docs/viewpoints/functional/overview.md
Owners: @genai-demo-team

docs: Phase 3 - Add viewpoint and perspective architecture diagrams
  docs/perspectives/performance/overview.md
  docs/perspectives/security/overview.md
  docs/viewpoints/concurrency/overview.md
  docs/viewpoints/information/overview.md
Owners: @genai-demo-team

docs: Phase 3 final summary - 20 diagrams across 14 documents
  docs/DOCUMENTATION-ANALYSIS-REPORT.md
  docs/PHASE-3-COMPLETION-SUMMARY.md
Owners: @genai-demo-team

docs: Phase 4 - Add execution plan and runnable examples
  docs/PHASE-4-EXECUTION-PLAN.md
  docs/examples/database-operations-examples.md
  docs/examples/deployment-examples.md
Owners: @genai-demo-team

docs: Phase 4 - Add API usage and testing examples
  docs/examples/api-usage-examples.md
  docs/examples/testing-examples.md
Owners: @genai-demo-team

docs: Phase 4 completion - Optimization phase successfully completed
  docs/DOCUMENTATION-ANALYSIS-REPORT.md
  docs/PHASE-4-COMPLETION-SUMMARY.md
Owners: @genai-demo-team

docs: Final report - Documentation Improvement Initiative completed
  docs/DOCUMENTATION-IMPROVEMENT-FINAL-REPORT.md
Owners: @genai-demo-team

docs: Create missing directory structures and placeholder README files
  docs/architecture/patterns/README.md
  docs/architecture/principles/README.md
  docs/development/coding-standards/README.md
  docs/development/setup/README.md
  docs/development/testing/README.md
  docs/development/workflows/README.md
  docs/diagrams/generated/README.md
  docs/diagrams/perspectives/README.md
  docs/diagrams/viewpoints/README.md
  docs/getting-started/README.md
  docs/operations/deployment/README.md
  docs/operations/monitoring/README.md
  docs/operations/runbooks/README.md
  docs/templates/README.md
Owners: @genai-demo-team

docs: Create batch of missing documentation files
  docs/api/events/contexts/delivery-events.md
  docs/api/events/contexts/notification-events.md
  docs/api/events/contexts/pricing-events.md
  docs/api/events/contexts/promotion-events.md
  docs/api/events/contexts/review-events.md
  docs/api/events/contexts/seller-events.md
  docs/api/events/contexts/shopping-cart-events.md
  docs/api/integration/README.md
  docs/api/rest/versioning.md
  docs/development/testing/bdd-testing.md
  docs/development/testing/gherkin-guide.md
  docs/development/testing/mocking.md
  docs/development/testing/test-pyramid.md
  docs/development/testing/unit-testing.md
  docs/diagrams/README.md
  docs/operations/troubleshooting/README.md
  docs/perspectives/availability/automated-failover.md
  docs/perspectives/availability/chaos-engineering.md
  docs/perspectives/availability/fault-tolerance.md
  docs/perspectives/availability/multi-region-architecture.md
  docs/perspectives/security/README.md
  docs/viewpoints/operational/backup-and-recovery-comprehensive.md
Owners: @genai-demo-team

docs: Add integration and monitoring documentation
  docs/api/integration/rate-limiting.md
  docs/api/integration/webhooks.md
  docs/operations/monitoring/metrics.md
  docs/operations/troubleshooting/debugging-guide.md
Owners: @genai-demo-team

docs: Add comprehensive link repair progress report
  docs/LINK-REPAIR-PROGRESS-REPORT.md
Owners: @genai-demo-team

docs: Add integration testing, DDD patterns, and API security documentation
  docs/api/security/README.md
  docs/architecture/patterns/ddd-patterns.md
  docs/development/testing/integration-testing.md
Owners: @genai-demo-team

docs: Add ADRs and event patterns documentation
  docs/api/events/event-patterns.md
  docs/architecture/adrs/018-container-orchestration-eks.md
  docs/architecture/adrs/053-security-monitoring-and-incident-response.md
Owners: @genai-demo-team

docs: Add comprehensive link repair final summary
  docs/LINK-REPAIR-FINAL-SUMMARY.md
Owners: @genai-demo-team

docs: Add comprehensive link cleanup summary report
  docs/LINK-CLEANUP-SUMMARY.md
Owners: @genai-demo-team

docs: Add comprehensive analysis of tests/ directory
  docs/TESTS-DIRECTORY-ANALYSIS.md
Owners: @genai-demo-team

.github/CODEOWNERS:

# Code Owners for GenAI Demo Project
# This file defines who should review changes to specific parts of the codebase

# Global owners - require review for all changes
* @genai-demo-team

# Backend code
/app/ @backend-team @genai-demo-team
/build.gradle @backend-team @genai-demo-team
/settings.gradle @backend-team @genai-demo-team
/gradle.properties @backend-team @genai-demo-team
/Dockerfile @backend-team @devops-team

# Frontend code
/cmc-frontend/ @frontend-team @genai-demo-team
/consumer-frontend/ @frontend-team @genai-demo-team
/cmc-frontend/Dockerfile @frontend-team @devops-team
/consumer-frontend/Dockerfile @frontend-team @devops-team

# Infrastructure code
/infrastructure/ @devops-team @genai-demo-team
/deployment/ @devops-team @genai-demo-team
/docker/ @devops-team @genai-demo-team
/terraform/ @devops-team @genai-demo-team

# CI/CD and automation
/.github/ @devops-team @genai-demo-team
/scripts/ @devops-team @genai-demo-team

# Documentation
/docs/ @genai-demo-team
/README.md @genai-demo-team
*.md @genai-demo-team

# Configuration files
/docker-compose.yml @devops-team @genai-demo-team
/.gitignore @genai-demo-team
/.gitattributes @genai-demo-team

# Security-sensitive files
/.github/workflows/security-scan.yml @security-team @devops-team
/.github/dependabot.yml @security-team @devops-team
/infrastructure/lib/stacks/security-stack.ts @security-team @devops-team

# Release management
/.github/workflows/release.yml @release-team @devops-team
/.github/workflows/ci-cd.yml @devops-team @genai-demo-team

# Performance and monitoring
/.github/workflows/performance-test.yml @performance-team @devops-team
/infrastructure/lib/stacks/observability-stack.ts @performance-team @devops-team
