Repository humank/genai-demo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @genai-demo-team, @backend-team, @devops-team, @frontend-team, @security-team, @release-team, @performance-team

chore: Remove orphaned tests/ directory
  tests/__init__.py
  tests/run_all_tests.py
  tests/test_batch_processor.py
  tests/test_integration.py
Owners: @genai-demo-team

chore: Remove orphaned translation config files
  config/__init__.py
  config/terminology.json
  docs/CONFIG-DIRECTORY-ANALYSIS.md
Owners: @genai-demo-team

docs: Update CONTRIBUTING.md with latest project standards
  CONTRIBUTING.md
Owners: @genai-demo-team

fix: Correct date in CONTRIBUTING.md to 2025-11-19
  CONTRIBUTING.md
Owners: @genai-demo-team

feat: Add mandatory documentation date requirements guide
  .kiro/steering/README.md
  .kiro/steering/development-standards.md
  .kiro/steering/documentation-date-requirements.md
Owners: @genai-demo-team

fix: resolve test failures and achieve 100% test success rate
  app/src/main/java/solid/humank/genaidemo/config/ProfileConfiguration.java
  app/src/main/java/solid/humank/genaidemo/config/SecretsManagerEndpoint.java
  app/src/main/java/solid/humank/genaidemo/config/SecretsManagerHealthIndicator.java
  app/src/main/java/solid/humank/genaidemo/config/UnifiedDataSourceConfiguration.java
  app/src/main/java/solid/humank/genaidemo/infrastructure/config/DatabaseConfigurationValidator.java
  app/src/test/java/solid/humank/genaidemo/BaseIntegrationTest.java
  app/src/test/java/solid/humank/genaidemo/config/CommonTestConfiguration.java
  app/src/test/java/solid/humank/genaidemo/config/ProfileValidationTest.java
  app/src/test/java/solid/humank/genaidemo/config/TestApplicationConfiguration.java
  app/src/test/java/solid/humank/genaidemo/config/TestDataSourceConfiguration.java
  app/src/test/java/solid/humank/genaidemo/config/TestDatabaseConfiguration.java
  app/src/test/java/solid/humank/genaidemo/config/TestDatabaseValidatorConfiguration.java
  app/src/test/java/solid/humank/genaidemo/config/TestFlywayConfiguration.java
  app/src/test/java/solid/humank/genaidemo/config/TestSecretsManagerConfiguration.java
  app/src/test/java/solid/humank/genaidemo/config/UnifiedTestHttpClientConfiguration.java
  app/src/test/java/solid/humank/genaidemo/infrastructure/resilience/ExampleResilientServiceTest.java
  app/src/test/java/solid/humank/genaidemo/testutils/BaseTest.java
  app/src/test/resources/application-test.yml
  reports-summaries/test-failures-analysis-2025-11-21.md
  reports-summaries/test-failures-deep-dive-2025-11-22.md
  reports-summaries/test-fixes-final-success-2025-11-22.md
  reports-summaries/test-fixes-session-7-complete-2025-11-22.md
Owners: @backend-team, @genai-demo-team

Add category images for consumer frontend
  consumer-frontend/src/assets/images/categories/beauty.jpg
  consumer-frontend/src/assets/images/categories/electronics.jpg
  consumer-frontend/src/assets/images/categories/fashion.jpg
  consumer-frontend/src/assets/images/categories/food.jpg
  consumer-frontend/src/assets/images/categories/home.jpg
  consumer-frontend/src/assets/images/categories/sports.jpg
Owners: @frontend-team, @genai-demo-team

feat: Complete Java Code Quality Phase 2
  .kiro/specs/java-code-quality-phase2/design.md
  .kiro/specs/java-code-quality-phase2/requirements.md
  .kiro/specs/java-code-quality-phase2/tasks.md
  app/src/main/java/solid/humank/genaidemo/config/ProfileConfigurationProperties.java
  app/src/main/java/solid/humank/genaidemo/config/ProfileValidationConfiguration.java
  app/src/main/java/solid/humank/genaidemo/infrastructure/common/lock/InMemoryDistributedLockManager.java
  app/src/test/java/solid/humank/genaidemo/testutils/builders/CustomerTestDataBuilder.java
  app/src/test/java/solid/humank/genaidemo/testutils/builders/ProductTestDataBuilder.java
Owners: @genai-demo-team, @backend-team

docs: improve ADR-018 Container Orchestration EKS to match quality standards
  docs/architecture/adrs/018-container-orchestration-eks.md
Owners: @genai-demo-team

fix: resolve GitHub Actions workflow failures
  .github/workflows/documentation-quality.yml
  .github/workflows/validate-documentation.yml
  .markdownlint.json
Owners: @devops-team, @genai-demo-team

chore(ci): disable all GitHub Actions workflows
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/ci-cd.yml
  .github/workflows/cleanup.yml
  .github/workflows/cost-analysis.yml
  .github/workflows/dependency-update.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/generate-diagrams.yml
  .github/workflows/performance-test.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/staging-tests.yml
  .github/workflows/validate-documentation.yml
Owners: @devops-team, @genai-demo-team, @performance-team, @release-team, @security-team

feat: Complete Taiwan production deployment with fixes
  .kiro/agents/README.md
  .kiro/agents/architecture-doc-specialist.md
  .kiro/agents/bdd-test-specialist.md
  .kiro/agents/ddd-domain-expert.md
  .kiro/agents/multi-region-resilience-expert.md
  .kiro/agents/observability-monitoring-expert.md
  .kiro/agents/orchestrator.md
  infrastructure/cdk.context.json
  infrastructure/lib/stacks/cost-optimization-stack.ts
  infrastructure/lib/stacks/cost-usage-reports-stack.ts
  infrastructure/src/constructs/application-insights-rum.ts
  infrastructure/src/constructs/cloudwatch-synthetics-monitoring.ts
  infrastructure/src/constructs/lambda-insights-monitoring.ts
  infrastructure/src/constructs/vpc-flow-logs-monitoring.ts
  infrastructure/src/stacks/core-infrastructure-stack.ts
  infrastructure/src/stacks/eks-stack.ts
  infrastructure/src/stacks/frontend-stack.ts
  infrastructure/src/stacks/observability-stack.ts
  infrastructure/src/stacks/observability-stack.ts.backup
  infrastructure/src/stacks/rds-stack.ts
  infrastructure/src/stacks/security-stack.ts
Owners: @genai-demo-team, @devops-team

feat: Add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Owners: @devops-team, @genai-demo-team

.github/CODEOWNERS:

# Code Owners for GenAI Demo Project
# This file defines who should review changes to specific parts of the codebase

# Global owners - require review for all changes
* @genai-demo-team

# Backend code
/app/ @backend-team @genai-demo-team
/build.gradle @backend-team @genai-demo-team
/settings.gradle @backend-team @genai-demo-team
/gradle.properties @backend-team @genai-demo-team
/Dockerfile @backend-team @devops-team

# Frontend code
/cmc-frontend/ @frontend-team @genai-demo-team
/consumer-frontend/ @frontend-team @genai-demo-team
/cmc-frontend/Dockerfile @frontend-team @devops-team
/consumer-frontend/Dockerfile @frontend-team @devops-team

# Infrastructure code
/infrastructure/ @devops-team @genai-demo-team
/deployment/ @devops-team @genai-demo-team
/docker/ @devops-team @genai-demo-team
/terraform/ @devops-team @genai-demo-team

# CI/CD and automation
/.github/ @devops-team @genai-demo-team
/scripts/ @devops-team @genai-demo-team

# Documentation
/docs/ @genai-demo-team
/README.md @genai-demo-team
*.md @genai-demo-team

# Configuration files
/docker-compose.yml @devops-team @genai-demo-team
/.gitignore @genai-demo-team
/.gitattributes @genai-demo-team

# Security-sensitive files
/.github/workflows/security-scan.yml @security-team @devops-team
/.github/dependabot.yml @security-team @devops-team
/infrastructure/lib/stacks/security-stack.ts @security-team @devops-team

# Release management
/.github/workflows/release.yml @release-team @devops-team
/.github/workflows/ci-cd.yml @devops-team @genai-demo-team

# Performance and monitoring
/.github/workflows/performance-test.yml @performance-team @devops-team
/infrastructure/lib/stacks/observability-stack.ts @performance-team @devops-team
